<div [ngClass]="{'text-right': currentLanguage === 'ar', 'text-left': currentLanguage === 'en'}" class="container mx-auto px-2 sm:px-4 py-4 sm:py-8 overflow-hidden">
    <h2 class="text-light text-2xl sm:text-3xl md:text-4xl font-bold mb-2 sm:mb-4">
        {{ currentLanguage === 'en' ? 'About me' : 'نبذة عني' }}
    </h2>

    <p class="text-[#EAFF00] font-mono text-2xl leading-relaxed ">
        {{ currentLanguage === 'en' 
            ? "a passionate Software Engineer with a knack for creating innovative solutions that make a difference. With experience in full-stack and mobile development and a love for modern technologies, I thrive on turning ideas into reality. Whether it's leading a team, mentoring others, or diving into code, I'm dedicated to delivering excellence in every project. Let's connect and build something amazing together!"
            : "مهندس برمجيات شغوف بإيجاد حلول مبتكرة تُحدث فرقاً. لدي خبرة في تطوير الويب الشامل وتطبيقات الهاتف، وحب للتقنيات الحديثة، وأستمتع بتحويل الأفكار إلى واقع. سواء من خلال قيادة فريق، إرشاد الآخرين، أو الانغماس في البرمجة، أسعى دائماً لتحقيق التميز في كل مشروع. دعونا نتواصل ونبني شيئاً رائعاً معاً " 
        }}
      </p>
      
</div>
