<div class="container mx-auto px-4 py-8">
  <section class="text-center py-16 relative">
    <!-- The red lines are just to show the desired width -->
    <img 
      [src]="currentLanguage === 'en' ? 'assets/img/english-image.png' : 'assets/img/arabic-image.png'"
      alt="Sadiq Aldubaisi" 
      class="w-full max-w-sm sm:max-w-md md:max-w-lg lg:max-w-[1500px] xl:max-w-[1536px] 2xl:max-w-[1800px] mx-auto rounded-3xl shadow-lg animate-fade-in transform transition-transform duration-500 hover:scale-105">
  </section>
</div>