<div class="container mx-auto px-4">
  <!-- الخلفية -->
  <div class="fixed inset-0 -z-10 bg-[#150C2B] bg-cover bg-center"></div>

  <!-- الهيدر -->
  <header>
    <app-header></app-header>
  </header>

  <!-- الصفحة الرئيسية -->
  <section id="home">
    <app-home></app-home>
  </section>
  <div class="w-full h-[1px] bg-white opacity-50 my-8"></div>

  <!-- عني -->
  <section id="about-me">
    <app-about-me></app-about-me>
  </section>
  <div class="w-full h-[1px] bg-white opacity-50 my-8"></div>

  <!-- المهارات -->
  <section id="skills">
    <app-skills></app-skills>
  </section>
  <div class="w-full h-[1px] bg-white opacity-50 my-8"></div>

  <!-- المشاريع -->
  <section id="projects">
    <app-projects></app-projects>
  </section>
  <div class="w-full h-[1px] bg-white opacity-50 my-8"></div>

  <!-- الخبرات -->
  <section id="experience">
    <app-experience></app-experience>
  </section>
  <div class="w-full h-[1px] bg-white opacity-50 my-8"></div>

  <!-- الشهادات -->
  <section id="certifications">
    <app-certifications></app-certifications>
  </section>
  <div class="w-full h-[1px] bg-white opacity-50 my-8"></div>

  <!-- تواصل معي -->
  <section id="contact-me">
    <app-contact-me></app-contact-me>
  </section>
  <div class="w-full h-[1px] bg-white opacity-50 my-8"></div>

  <!-- الفوتر -->
  <footer>
    <app-footer></app-footer>
  </footer>
</div>
