<div class="container mx-auto px-4">
  <!-- شريط التنقل (الهيدر) -->
  <div class="fixed inset-0 -z-10 bg-[#150C2B] bg-cover bg-center"></div>

  <app-header></app-header>

  <app-home></app-home>
  <div class="w-full h-[1px] bg-white opacity-50 my-8"></div>

  <section id="about-me">
    <app-about-me></app-about-me>
  </section>
  <div class="w-full h-[1px] bg-white opacity-50 my-8"></div>

  <main class="mt-8">
    <section id="certifications">
      <app-certifications></app-certifications>
    </section>
    <div class="w-full h-[1px] bg-white opacity-50 my-8"></div>

    <section id="contact-me">
      <app-contact-me></app-contact-me>
    </section>
    <div class="w-full h-[1px] bg-white opacity-50 my-8"></div>

    <section id="skills">
      <app-skills></app-skills>
    </section>
    <div class="w-full h-[1px] bg-white opacity-50 my-8"></div>

  </main>
</div>
