<div class="container mx-auto px-4 py-8">
    <h2 [ngClass]="{'text-right': currentLanguage === 'ar', 'text-left': currentLanguage === 'en'}"
        class="text-light text-2xl sm:text-3xl md:text-4xl font-bold mb-6">
      {{ currentLanguage === 'en' ? 'Contact me' : 'تواصل معي' }}
    </h2>
    <br>
    <div class="flex justify-between items-center sm:justify-center sm:space-x-8 lg:justify-around">
      <!-- LinkedIn -->
      <div class="relative group">
        <a href="https://www.linkedin.com/in/sadiq-aldubaisi-69721b222/" target="_blank">
          <img src="assets/contact-me/linkden.png" alt="LinkedIn" class="w-16 h-16 hover:scale-110 transition-transform">
        </a>
        <span class="absolute bottom-[-2rem] left-1/2 transform -translate-x-1/2 bg-black text-white text-xs rounded px-2 py-1 opacity-0 group-hover:opacity-100 transition-opacity">
          LinkedIn
        </span>
      </div>
      <!-- WhatsApp -->
      <div class="relative group">
        <a href="https://wa.me/0553065029" target="_blank">
          <img src="assets/contact-me/whatsapp.png" alt="WhatsApp" class="w-16 h-16 hover:scale-110 transition-transform">
        </a>
        <span class="absolute bottom-[-2rem] left-1/2 transform -translate-x-1/2 bg-black text-white text-xs rounded px-2 py-1 opacity-0 group-hover:opacity-100 transition-opacity">
           0553065029
        </span>
      </div>
      <!-- Email -->
      <div class="relative group">
        <a href="mailto:Sadiqhd&#64;gmail.com" target="_blank">
          <img src="assets/contact-me/email.png" alt="Email" class="w-16 h-16 hover:scale-110 transition-transform">
        </a>
        <span class="absolute bottom-[-2rem] left-1/2 transform -translate-x-1/2 bg-black text-white text-xs rounded px-2 py-1 opacity-0 group-hover:opacity-100 transition-opacity">
          Sadiqhd&#64;gmail.com
        </span>
      </div>
      <!-- GitHub -->
      <div class="relative group">
        <a href="https://github.com/sadiq-hd" target="_blank">
          <img src="assets/contact-me/github.png" alt="GitHub" class="w-16 h-16 hover:scale-110 transition-transform">
        </a>
        <span class="absolute bottom-[-2rem] left-1/2 transform -translate-x-1/2 bg-black text-white text-xs rounded px-2 py-1 opacity-0 group-hover:opacity-100 transition-opacity">
          GitHub
        </span>
      </div>
    </div>
  </div>
  