<div [ngClass]="{'text-right': currentLanguage === 'ar', 'text-left': currentLanguage === 'en'}" class="container mx-auto px-2 sm:px-4 py-4 sm:py-8">
  <h2 class="text-light text-2xl sm:text-3xl md:text-4xl font-bold mb-4">
    {{ currentLanguage === 'en' ? 'Experience' : 'الخبرة' }}
  </h2>
  <br>
  <div *ngFor="let exp of experience" class="mb-4">
    <!-- عنوان الشركة والتاريخ -->
    <h3 class="text-base sm:text-lg md:text-xl lg:text-2xl text-[#EAFF00] font-mono font-bold">
      {{ currentLanguage === 'en' ? exp.company.en : exp.company.ar }} | {{ currentLanguage === 'en' ? exp.date.en : exp.date.ar }}
    </h3>
    
    <!-- الدور الوظيفي -->
    <p class="text-base sm:text-lg md:text-xl lg:text-2xl text-light font-semibold font-sans">
      {{ currentLanguage === 'en' ? exp.role.en : exp.role.ar }}
    </p>
    <br>
    
    <!-- قائمة النقاط -->
    <div [ngClass]="{'rtl': currentLanguage === 'ar', 'ltr': currentLanguage === 'en'}" dir="{{currentLanguage === 'ar' ? 'rtl' : 'ltr'}}">
      <ul class="list-disc pl-5 rtl:pr-5 space-y-2">
        <li
          *ngFor="let point of (currentLanguage === 'en' ? exp.description.en : exp.description.ar)"
          class="text-[#eaff00] font-mono font-semibold leading-relaxed text-base sm:text-lg md:text-xl lg:text-xl"
        >
          {{ point }}
        </li>
      </ul>
    </div>
    
  
  
  </div>
</div>
